<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TroisBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <TroisBot.Properties.Settings>
            <setting name="dbc" serializeAs="String">
                <value>D:\Games\Wrath of the Lich King\dbc</value>
            </setting>
            <setting name="maps" serializeAs="String">
                <value>D:\Games\Wrath of the Lich King\maps</value>
            </setting>
            <setting name="vmaps" serializeAs="String">
                <value>D:\Games\Wrath of the Lich King\vmaps</value>
            </setting>
            <setting name="mmaps" serializeAs="String">
                <value>D:\Games\Wrath of the Lich King\mmaps</value>
            </setting>
        </TroisBot.Properties.Settings>
    </applicationSettings>
</configuration>